<% ['Red', 'Blue'].forEach((side)=>{ %>
    <td class="<%= side.toLowerCase() %>">
        <% ['First', 'Last', 'Club'].forEach((e)=>{ %>
            <label><%= side %> <%= e.toLowerCase() %> name</label>
            <input type = "text" name="playerData" id = "<%= side.toLowerCase() %><%= e %>Name" value = "<%= side.toLowerCase() %><%= e %>Name"><br><br>
        <%     }) %>
    </td>
<%     }) %>

<!-- Result: -->
<!-- 
    <td class="blue">
        <label>Blue first name</label>
        <input type = "text" name="playerData" id = "blueFirstName" value = "blueFirstName"><br><br>
        <label>Blue last name</label>
        <input type = "text" name="playerData" id = "blueLastName" value = "blueLastName"><br><br>
        <label>Blue club name</label>
        <input type = "text" name="playerData" id = "blueClubName" value = "blueClubName"><br><br>
    </td>
-->