<%- include('boilerplate'); %> 
    <title>
        Import Matches for <%- mat %>
    </title>
</head>
<body>
    <%- include('header'); %> 
    <h1>Import Matches for Mat <%- mat %></h1>
    <form  action="/matches/import?mat=<%- mat %>" method="POST">
        <textarea name="x" style="width: 660px; height:320px" placeholder="Paste directly from Excel into here"></textarea>
        <br><br>
        <input type="submit" value="Import matches">
    </form>

</body>
</html>