<%- include('boilerplate'); %> 
    <title>
        <%- title %>
    </title>

    <style>
        body {
            color: white;
            display: block;
            text-align: left;

        }
    </style>

</head>
<body>
    <%- include('header'); %> 
    <h1><%- title %></h1>
    <%- message %> 
    <br><br>
    <%- error %> 
</body>
</html>