<%- include('boilerplate'); %> 
    <title>
        <%- title %>
    </title>

</head>
<body>
    <%- include('header'); %> 
    <section class="container">
        <h1 class="title is-3"><%- title %></h1>

    </section>
    
    <section class="container">
        <%- message %> 
        <br><br>
        <%- error %> 
    </section>
</body>
</html>