<%- include('boilerplate') %> 
    <title>
        <%- title %>
    </title>
</head>
<body>
    <%- include('header'); %> 
    
    <section class="section">
        <div class="container">
            <h1 class="title is-1"><%- title %></h1>
            <h3 class="subtitle is-3"><%- location %>,  <%- date %></h3>

        </div>
    </section>

    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    
                    <div class="tile is-parent is-vertical">
                            <div class="tile is-child">
                                <form class="block" action="/matches/fixtures" method="get">
                                    <button class="button is-primary is-large" id="matA" type="submit">View fixtures</button>
                                    <a class="button is-primary is-light is-small block" href="/images/Fixtures.png">QR code</a>
                                </form>

                                <a class="button is-primary is-light is-small block" href="/matches/import/A">Import matches mat A</a>
                                <a class="button is-primary is-light is-small block" href="/matches/import/B">Import matches mat B</a>
                                <br> 
                                <a class="button is-primary is-light is-small block" href="/matches/sampleA">Sample mat A</a>
                                <a class="button is-primary is-light is-small block" href="/matches/sampleB">Sample mat B</a>
                                <br> 
                            </div>
                    </div>

                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <form class="block" action="/scoreboard/A" method="get">
                                <button class="button is-primary block" type="submit">Scoreboard Mat A</button>
                            </form>
                            <form class="block" action="/scoreboard/B" method="get">
                                <button class="button is-primary block" type="submit">Scoreboard Mat B</button>
                            </form>

                        </div>
                    </div>

                </div>

                <div class="tile is-parent is-wide notification">
                    <form class="block" action="/wrestlers/open" method="get">
                        <button class="button is-primary" type="submit">Registered wrestlers</button>
                    </form>
                </div>
                
            </div>
        </div>

    </div>

</body>
</html>