<%- include('boilerplate'); %> 
    <title>
        <%- title %>
    </title>
        
</head>
<body>
    <%- include('header'); %> 
    
    <section class="container">
        <h1 class="title is-3"><%- title %></h1>
    </section>

    <div class="container">
        <div class="tile">

            <div class="tile is-3">
                <div class="field">
                    <label for="" class="label">
                        Wrestlers
                    </label>
                    <div class="control">
                        <div class="select">
                            <%- names %> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="tile is-3"><div class="field">
                <label for="" class="label">
                    Tournaments
                </label>
                <div class="control">
                    <div class="select">
                        <%- tournaments %> 
                    </div>
                </div>
            </div></div>
            
        </div>
    </div>
    
    <section class="container">
        <%- table %> 

    </section>

    <script>
        
        // Dropdown list filtering
        var filter = {
            name: '',
            tournament: ''
        };

        var tableRows = document.querySelectorAll('tr')
        
        //  names
        document.querySelectorAll('select#names')[0].addEventListener('click', function() {
            filter['name'] = document.getElementById('names').value
            filterTable();
        })
        //  tournaments
        document.querySelectorAll('select#tournaments')[0].addEventListener('click', function() {
            filter['tournament'] = document.getElementById('tournaments').value
            filterTable();
        })

        function filterTable() {
            // clear all styles
            for(var i=1;i<tableRows.length;i++){document.querySelectorAll('tr')[i].style.display = ''}
            // apply filter
            for(var i=1;i<tableRows.length;i++){
                if (
                    tableRows[i].innerText.indexOf(filter['name']) === -1
                    || tableRows[i].children['tournament'].innerText !== filter['tournament']
                    && filter['tournament'] !== ''
                ) {
                    document.querySelectorAll('tr')[i].style.display = 'none'
                }
            }
        };
    </script>


</body>
</html>