<%- include('boilerplate'); %> 

    <link rel="stylesheet" href="/css/scoreboard.css">
    <!-- To run HTML file through node.js -->
    <script defer src="../js/jquery-3.5.1.slim.min.js"> </script>
    <!-- <script defer src="../js/scoreboard/dropdowns.js"></script>
    <script defer src="../js/scoreboard/import.js"></script>
    <script defer src="../js/scoreboard/victory.js"></script>
    <script defer src="../js/scoreboard/timer.js"></script>
    <script defer src="../js/scoreboard/playerClass.js"></script> --> -->
    <script defer src="../js/scoreboard.min.js"></script>
    <script defer src="../js/testing.js"></script>

    <script src="https://kit.fontawesome.com/0f58b31d22.js" crossorigin="anonymous"></script>
    
    
    <title>Wrestling WA Online Scoreboard</title>
</head>

<body>
    <%- include('header'); %>
    
    <%- tournamentWarning %>
    <div id="tournamentId" style="display:none"><%- tournamentId %></div>


    <div id="resetGameRow">
        <button class="resetGame" id = "setGame">Set game</button>
        <button class="resetGame" id = "resetGame">Reset all</button>
        <button class="resetGame" id = "fixtures">Fixtures</button>
        <button class="resetGame" id = "prev"><<</button>
        <button class="resetGame" id = "next">>></button>
    </div>

<!-- Game setup - disappearable rows  -->
    <div class = "container" id = "fixturesTable" style="display:none"> 
        <%- table %>
    </div>

    <div class = "container" id="playerInput" style="display:none">
        <table class="container">
            <tr>
                    <%- include ('scoreboard/playerinput') %> 
                    <%- include ('scoreboard/dropdowns') %> 
            </tr>
            <tr>
                <td colspan="5" >
                    <button class="resetGame" id="setConfirmGame">Confirm</button>
                    <button class="resetGame" id="cancelConfirmGame">Cancel</button>
                </td>
            </tr>
        </table>
    </div>


<!-- Main Score Display -->
    <div class="container" id="main-display">
<!-- Red side -->
        <div class="red playerData" style="display: table; table-layout: inherit;">
            <div style="display: table-cell; text-align: left;">
                <span class = "red clubName">redClubName</span>
            </div>
            <div style="display: table-cell;">
                <span class = "red firstName">redFirstName</span><br>
                <span class = "red lastName">redLastName</span><br>
            </div>
        </div>
<!-- Timer central -->
        <div class="middle">
            <span id="period">Period 1</span><br>
            <span id="gameType"></span>
            <br>
            <span id="timer">0:00</span>
            <br>
            <button class ="timer" id="startTimer" >▶</button>
            <button id = "announcevictory">Announce victory</button>

        </div>
<!-- Blue side -->
        <div class="blue playerData" style="display: table; table-layout: fixed;">
            <div style="display: table-cell;">
                <span class = "blue firstName">blueFirstName</span><br>
                <span class = "blue lastName">blueLastName</span><br>
            </div>
            <div style="display: table-cell; text-align: right;">
                <span class = "blue clubName">blueClubName</span>
            </div>
        </div>
<!-- Player scores -->
        <div class="red scorebox">
            <div class="red markerWarning"></div>
            <div class="red score">0</div>
            <div class="red shotclock">0:00</div>
        </div>
        <div class="blue scorebox">
            <div class="blue markerWarning"></div>
            <div class="blue score">0</div>
            <div class="blue shotclock">0:00</div>
        </div>
<!-- Control buttons row 1: scores -->
        <div class="red points-control">
            <div class="red buttonsRow">
                <table style="border:none; margin-right:0; margin-left:auto;">
                    <tr>
                        <td class="red buttonsRow" style="border:none"><button value=4>+5</button> 
                            <!-- <br>A</td> -->
                        <td class="red buttonsRow" style="border:none"><button value=3>+4</button> 
                            <!-- <br>S</td> -->
                        <td class="red buttonsRow" style="border:none"><button value=2>+2</button> 
                            <!-- <br>D</td> -->
                        <td class="red buttonsRow" style="border:none"><button value=1>+1</button> 
                            <!-- <br>F</td> -->
                        <td class="red buttonsRow" style="border:none"><button value=0>-1</button> 
                            <!-- <br>G</td> -->
                    </tr>
                </table>
            </div>
        </div>
        <div class="blue points-control">
            <div class="blue buttonsRow">
                <table style="border:none;margin-right:auto; margin-left:0;">
                    <tr>
                        <td class="blue buttonsRow" style="border:none"><button value=0>-1</button>
                            <!-- <br>H</td> -->
                        <td class="blue buttonsRow" style="border:none"><button value=1>+1</button>
                            <!-- <br>J</td> -->
                        <td class="blue buttonsRow" style="border:none"><button value=2>+2</button>
                            <!-- <br>K</td> -->
                        <td class="blue buttonsRow" style="border:none"><button value=3>+4</button>
                            <!-- <br>L</td> -->
                        <td class="blue buttonsRow" style="border:none"><button value=4>+5</button>
                            <!-- <br>;</td> -->
                    </tr>
                </table>

            </div>
        </div>
<!-- Control buttons row 2: warning -->
        <div class="red penalty">
            <button class="pin">📍 Pin!</button>
            <button class="warning">⚠️Warning</button>
            <button class="shotclockbtn" id="shotclockbuttonred">⏱️ Shot clock</button>
        </div>
        <div class="blue penalty">
            <button class="shotclockbtn" id="shotclockbuttonblue">⏱️ Shot clock</button>
            <button class="warning">⚠️ Warning</button>
            <button class="pin">📍 Pin!</button>
        </div>
<!-- Control buttons row 3: reset -->
        <!-- <div class="red pin"></div>
        <div class="blue pin"></div> -->
    </div>

    <!-- <div id="footer">
        <table class="results container">
            <tr style="font-weight:bolder">
                <td>Red name</td><td>Blue name</td><td>Red score</td><td>Blue score</td><td>Winner</td><td>Method</td><td>Classification</td>
            </tr>
        </table>

    <div> -->

<!-- Popup  -->
    <%- include('scoreboard/popup') %>

<!-- Footer -->
    <br>
    <br>
    <br>
    <br>
    <footer>
        Dyota Tanuwibawa, David Hang 2020
        <section class="testing">
            <button id="airhorn" style="display: none">🎺</button>
            <button id="victory" style="display: none">Victory</button>
        </section>
    </footer>
</body>
</html>