<%- include('boilerplate'); %> 
    <title>
        <%- title %>
    </title>

    <% if (title.startsWith('Matches')) { %>
        <script defer src="/js/fixtures.min.js"></script>    
    <% } %>
    

</head>
<body>
    <%- include('header'); %> 
    

    <section class="container">
        <h1 class="title is-3"><%- title %></h1>
    </section>

    <section class="container">
        <%- table %> 

    </section>
</body>
</html>