<%- include('boilerplate') %> 
    <title>
        <%- title %>
    </title>
</head>
<body>
    <%- include('header'); %> 
    <h1><%- title %></h1>
    <h3><%- location %>,  <%- date %></h3>
    
    <table>
        <tr>
            <td>
                <form action="/matches/fixtures/A" method="get">
                    <button id="matA" class="mainPage" type="submit">Matches Mat A</button>
                </form>
                <a href="/matches/import/A">Import matches</a>
                <br> <a href="/images/Fixtures - Mat A.png">QR code</a>
                <br> <a href="/matches/sampleA">Sample input</a>
            </td>
            <td>
                <form action="/matches/fixtures/B" method="get">
                    <button id="matB" class="mainPage" type="submit">Matches Mat B</button>
                </form>
                <a href="/matches/import/B">Import matches</a>
                <br> <a href="/images/Fixtures - Mat B.png">QR code</a>
                <br> <a href="/matches/sampleB">Sample input</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <form action="/wrestlers/open" method="get">
                    <button class="mainPage" type="submit">Registered wrestlers</button>
                </form>
            </td>
        </tr>
    </table>

</body>
</html>